<div class="links">
<h1>Related Projects</h1>

<!-- NiNA -->
<div class="link">
<a class="active" href="//hotwolf.github.io/NiNA">
<h1>NiNA</h1>
N1 MCU design
</a>
</div><!--<div id="link">-->

<!-- WbXbc -->
<div class="link">
<a class="active" href="//hotwolf.github.io/WbXbc">
<h1>WbXbc</h1>
Wishbone crossbar components
</a>
</div><!--<div id="link">-->

<!-- RVC -->
<div class="link">
<a class="active" href="//hotwolf.github.io/RVC">
<h1>RVC</h1>
Reusable Verilog Components
</a>
</div><!--<div id="link">-->

<!-- AriCalculator -->
<div class="link">
<a class="active" href="//hotwolf.github.io/AriCalculator">
<h1>AriCalculator</h1>
A homebrew calculator
</a>
</div><!--<div id="link">-->

<!-- Project Overview -->
<div class="link">
<a class="active" href="//hotwolf.github.io">
<h1>...more</h1>
Overview of all projects on hotwolf.github.io
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
